*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 2px solid black;
    min-height: 100px;
}
main>section.debug{
    border: 2px solid red;
}
header>nav.debug,div.debug{
    /* border: 2px solid yellow; */
}
nav{
    width: 1200px;
    margin: auto;
    
}
nav>img{
  height: 80px;
}
header{
    background-image:url("/img/jumbo.png");
    background-size: cover;
    height: 620px;
}
li{
    list-style: none;
    color:#FFFFFF;
    font-size: 20px;
}
.flex-box{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
ul.flex-box{
    min-width: 500px;
}
.btn{
    background-color:#FFFFFF;
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}
header>div{
    width: 800px;
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 75px;
}
.testo{
   margin-top: 35px;
}
h1{
    font-size: 60px;
    padding-bottom: 40px;
}
p{
    font-size: 20px;
    margin-bottom: 15px;
}
div>a{
    width: 250px;
}
.btnn{
    width: 350px;
    background-color:#23272A;
    border-radius: 28px;
    padding: 16px 32px;
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
     
}
.btn2{
    background-color:#FFFFFF;
    border-radius: 28px;
    padding: 16px 32px;
    text-decoration: none;
    color:black; 
    margin-right: 24px;
    font-size: 20px;
    font-weight: bold;
}
span{
    font-size: 20px;
    font-weight: bold;
}
main{
    width: 1200px;
    margin: auto;
    
}
.contenitore{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}
h2{
    font-size: 48px;
    color:#23272A;
}
.div1{
    width: 350px;
}